# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# local credentials
.env*
!.env.example

# logs and system files
*.log
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts
